				</div><!-- .span8 -->
				<nav id="sidebar" class="span4 well well-small">
					<ul class="nav nav-list">
						<li>
							<h2 class="nav-header">Tutorials</h2>
							<ul class="nav nav-list">
								<li><a href="tut_getting_started.html">Getting started</a></li>
								<li><a href="tut_architecture_overview.html">Architecture overview</a></li>
								<li><a href="tut_basics.html">The basics of making an extension</a></li>
								<li><a href="tut_browser_actions.html">Buttons, popups and badges (browser actions)</a></li>
								<li><a href="tut_message_passing.html">Passing messages in extensions</a></li>
								<li><a href="tut_tab_window.html">Working with tabs and windows</a></li>
								<li><a href="tut_content_scripts.html">Content scripts</a></li>
								<li><a href="tut_match_patterns.html">Match patterns</a></li>
								<li><a href="declare_permissions.html">Permissons declarations</a></li>
								<li><a href="tut_optional_permissions.html">Optional permissions</a>
								<li><a href="tut_context_menus.html">Working with the context menu</a></li>
								<li><a href="tut_sd_extensions.html">Speed Dial extensions</a></li>
								<li><a href="tut_bookmarks.html">Working with bookmarks</a></li>
								<li><a href="tut_downloads.html">Working with downloads</a></li>
								<li><a href="tut_hist.html">Working with the browser history</a></li>
								<li><a href="tut_removing_browsingdata.html">Removing browsing data</a></li>
								<li><a href="tut_privacy.html">Controlling privacy features</a></li>
								<li><a href="tut_omnibox.html">Creating address bar extensions</a></li>
								<li><a href="tut_contentsettings.html">Site-specific customization</a></li>
								<li><a href="tut_commands.html">Adding keyboard shortcuts</a></li>
								<li><a href="tut_webnavigation.html">Using webNavigation</a></li>
								<li><a href="tut_proxy.html">Using the Proxy API</a></li>
								<li><a href="tut_offroad.html">Working with Off-Road Mode</a></li>
								<li><a href="tut_internationalization.html">Internationalization</a></li>
								<li><a href="devtools.html">Extending DevTools</a></li>
								<li><a href="tut_testing.html">Testing and debugging your extensions</a></li>
								<li><a href="tut_conversion.html">Converting OEX extensions to CRX/NEX</a></li>
								<li><a href="tut_icons.html">Creating effective icons</a></li>
								<li><a href="tut_extension_samples.html">Extension templates and samples</a></li>
								<li><a href="tut_publishing_guidelines.html">Publishing guidelines</a></li>
							</ul>
						</li>
						<li>
							<h2 class="nav-header">API Docs</h2>
							<ul class="nav nav-list">
								<li><a href="manifest.html">Formats: Manifest Files</a></li>
								<li><a href="alarms.html">chrome.alarms</a></li>
								<li><a href="bookmarks.html">chrome.bookmarks</a></li>
								<li><a href="browserAction.html">chrome.browserAction</a></li>
								<li><a href="browsingData.html">chrome.browsingData</a></li>
								<li><a href="commands.html">chrome.commands</a></li>
								<li><a href="contentSettings.html">chrome.contentSettings</a></li>
								<li><a href="contextMenus.html">chrome.contextMenus</a></li>
								<li><a href="cookies.html">chrome.cookies</a></li>
								<li><a href="devtools.inspectedWindow.html">chrome.devtools.inspectedWindow</a></li>
								<li><a href="devtools.network.html">chrome.devtools.network</a></li>
								<li><a href="devtools.panels.html">chrome.devtools.panels</a></li>
								<li><a href="downloads.html">chrome.downloads</a></li>								
								<li><a href="events.html">chrome.events</a></li>
								<li><a href="extension.html">chrome.extension</a></li>
								<li><a href="fontSettings.html">chrome.fontSettings</a></li>
								<li><a href="history.html">chrome.history</a></li>
								<li><a href="i18n.html">chrome.i18n</a></li>
								<li><a href="identity.html">chrome.identity</a></li>
								<li><a href="idle.html">chrome.idle</a></li>
								<li><a href="management.html">chrome.management</a></li>
								<li><a href="omnibox.html">chrome.omnibox</a></li>
								<li><a href="pageAction.html">chrome.pageAction</a></li>
								<li><a href="pageCapture.html">chrome.pageCapture</a></li>
								<li><a href="permissions.html">chrome.permissions</a></li>
								<li><a href="power.html">chrome.power</a></li>
								<li><a href="privacy.html">chrome.privacy</a></li>
								<li><a href="proxy.html">chrome.proxy</a></li>
								<li><a href="runtime.html">chrome.runtime</a></li>
								<li><a href="storage.html">chrome.storage</a></li>
								<li><a href="system.storage.html">chrome.system.storage</a></li>
								<li><a href="tabs.html">chrome.tabs</a></li>
								<li><a href="types.html">chrome.types</a></li>
								<li><a href="webNavigation.html">chrome.webNavigation</a></li>
								<li><a href="webRequest.html">chrome.webRequest</a></li>
								<li><a href="windows.html">chrome.windows</a></li>
								<li><a href="speeddial.html">opr.speeddial</a></li>
								<li><a href="stash.html">opr.stash</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div><!-- .row-fluid -->