				</div><!-- .span8 -->
				<nav id="sidebar" class="span4 well well-small">
					<ul class="nav nav-list">
						<li>
							<h2 class="nav-header">Tutorials</h2>
							<ul class="nav nav-list">
								<li><a href="tut_getting_started.html">Getting started</a></li>
								<li><a href="tut_architecture_overview.html">Architecture overview</a></li>
								<li><a href="tut_basics.html">The basics of making an extension</a></li>
								<li><a href="tut_browser_actions.html">Buttons, popups and badges (browser actions)</a></li>
								<li><a href="tut_message_passing.html">Passing messages in extensions</a></li>
								<li><a href="tut_sidebar_actions.html">Creating extensions for the sidebar</a></li>
								<li><a href="tut_tab_window.html">Working with tabs and windows</a></li>
								<li><a href="tut_content_scripts.html">Content scripts</a></li>
								<li><a href="tut_match_patterns.html">Match patterns</a></li>
								<li><a href="declare_permissions.html">Permissons declarations</a></li>
								<li><a href="tut_optional_permissions.html">Optional permissions</a>
								<li><a href="tut_context_menus.html">Working with the context menu</a></li>
								<li><a href="tut_sd_extensions.html">Speed Dial extensions</a></li>
								<li><a href="tut_bookmarks.html">Working with bookmarks</a></li>
								<li><a href="tut_downloads.html">Working with downloads</a></li>
								<li><a href="tut_hist.html">Working with the browser history</a></li>
								<li><a href="tut_removing_browsingdata.html">Removing browsing data</a></li>
								<li><a href="tut_privacy.html">Controlling privacy features</a></li>
								<li><a href="tut_omnibox.html">Creating address bar extensions</a></li>
								<li><a href="tut_contentsettings.html">Site-specific customization</a></li>
								<li><a href="tut_commands.html">Adding keyboard shortcuts</a></li>
								<li><a href="tut_webnavigation.html">Using webNavigation</a></li>
								<li><a href="tut_proxy.html">Using the Proxy API</a></li>
								<li><a href="tut_offroad.html">Working with Off-Road Mode</a></li>
								<li><a href="tut_internationalization.html">Internationalization</a></li>
								<li><a href="tut_inline_installation.html">Inline installation of extensions</a></li>
								<li><a href="devtools.html">Extending DevTools</a></li>
								<li><a href="tut_testing.html">Testing and debugging your extensions</a></li>
								<li><a href="tut_icons.html">Creating effective icons</a></li>
								<li><a href="tut_extension_samples.html">Extension templates and samples</a></li>
								<li><a href="tut_publishing_guidelines.html">Publishing guidelines</a></li>
							</ul>
						</li>
						<li>
							<h2 class="nav-header">API Docs</h2>
							<ul class="nav nav-list">
								<li><a href="manifest.html">Formats: Manifest Files</a></li>
								<li><a href="apis.html">Supported extension APIs</a></li>
								<li><a href="addons.html">opr.addons</a></li>
								<li><a href="speeddial.html">opr.speeddial</a></li>
								<li><a href="sidebarAction.html">opr.sidebarAction</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div><!-- .row-fluid -->
